<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                                                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                                                        http://www.springframework.org/schema/jdbc
                                                        http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
                                                        http://www.springframework.org/schema/tx
                                                        http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
                                                        http://www.springframework.org/schema/context
                                                        http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<context:property-placeholder
		location="classpath:web-spring31-hib4.hibernate.properties" />
<!-- 	<bean id="c3poDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" -->
<!-- 		destroy-method="close"> -->
<!-- 		<property name="user" value="${db.username}" /> -->
<!-- 		<property name="password" value="${db.password}" /> -->
<!-- 		<property name="driverClass" value="${db.driverClassName}" /> -->
<!-- 		<property name="jdbcUrl" value="${db.url}" /> -->
<!-- 		<property name="initialPoolSize" value="00" /> -->
<!-- 		<property name="maxPoolSize" value="4" /> -->
<!-- 		<property name="minPoolSize" value="0" /> -->
<!-- 		<property name="acquireIncrement" value="1" /> -->
<!-- 		<property name="acquireRetryAttempts" value="0" /> -->
<!-- 	</bean> -->
	<bean id="dbcpDataSource1" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="maxActive">
			<value>-1</value>
		</property>
		<property name="driverClassName">
			<value>${db1.driverClassName}</value>
		</property>
		<property name="url">
			<value>${db1.url}</value>
		</property>
		<property name="username">
			<value>${db1.username}</value>
		</property>
		<property name="password">
			<value>${db1.password}</value>
		</property>
	</bean>
	<alias name="dbcpDataSource1" alias="web-spring31-hib4.dataSource1"/> 
<!-- 	<alias name="c3poDataSource" alias="web-spring31-hib4.dataSource"/>  -->

	<bean id="web-spring31-hib4.jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg name="dataSource" ref="web-spring31-hib4.dataSource1" />
	</bean>
</beans>                                                        